<%- layout("/layouts/boilerplate") %>


    <div class="row">
        <div class="col-8 offset-2">
            
    <h1>Edit Listing</h1>
    <form method="POST" action="/listings/<%= listing.id %>?_method=PUT"  class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="md-3">
            <label class="form-label" >Title:</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>"  class="form-control" required>
            <div class="valid-feedback">looks good</div>
           <div class="invalid-feedback">Fill the title</div>
        </div>
    <div class="md-3">
        <label class="form-label">Description:</label>
        <textarea name="listing[description]" cols="30" rows="5"   class="form-control" required ><%= listing.description %></textarea>
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback"> need to fill description</div>

        <div class="md-3">
          Orginal image : <br>
          <img src="<%= orginalImageUrl %>" alt="image" style="border-radius: 1rem;">
        </div>
        <div class="md-3">
            <label class="form-label" >Uplode new image:</label>
            <input type="file" name="listing[image]"  class="form-control" required >
            <div class="valid-feedback">looks good</div>
            <div class="invalid-feedback"> Uplode the image</div>
        </div>
        

        <div class="row">
            <div class="md-3 col-md-4"> 
                <label class="form-label">Price:</label>
               <input type="number" name="listing[price]"  class="form-control"  value="<%= listing.price %>" required >
               <div class="invalid-feedback">Enter price</div>
               </div>

           <div class="md-3 col-md-8">  
                 <label class="form-label">Country:</label>
               <input type="text" name="listing[country]"  value="<%= listing.country %>"  class="form-control"  required>
               <div class="invalid-feedback">Enter country</div>
            </div>
        </div>
  
    <div class="md-3">  
        <label class="form-label">Location:</label>
        <input type="text" name="listing[location]"  class="form-control" value="<%= listing.location %>" required >
        <div class="invalid-feedback">Enter location</div>
    </div>
        <br>
        <button class="btn btn-dark">submit</button>
        <br>
        <br>
    </form>
</div>
</div>